@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@400;500&family=Ubuntu:wght@300;500&display=swap');


html {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('StravaChallengesApp/images/side-picture-thin.jpg');
    background-size: 13% auto; /* Image width covers 15% of the viewport, height covers the entire viewport */
    background-repeat: no-repeat;
    background-position: left;
    }


body {
    margin: 0.5rem auto;
    padding: 2rem;
    width: 70%; 
    }

header {
    background-color: rgb(255, 255, 255); /* Adjust the background color as needed */
    margin:auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 65px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.295); /* Add a shadow: offsetX offsetY blurRadius color */
    position: fixed;
    top: 0;
    left: 2rem;
    right: 0;
    border-radius: 10px;
}

header a {
    font-size: 1.8rem;
}

#logo img{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow: offsetX offsetY blurRadius color */
    position: flex;
    top: 0;
    height: 75px;
    margin: auto;
}

.right-nav {
    display: flex; 
    gap: 40px; /* Adjust the gap between nav items */
    justify-content: flex-end; /* Align nav items to the right */
}

.right-nav a {
    color: darkorange;
    text-shadow:2px 2px 7px rgba(0, 0, 0, 0.295)
}

header nav a {
    text-decoration: none; /* Remove underlines */
    color: #333; /* Set the default color */
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

header nav a:hover {
    color: #007bff; /* Change color on hover */
    font-weight: bolder;
}

img {    
    margin-top: 80px;
    margin-left: 1rem;
    width: 100%;
    
}
