{% extends "base.html" %}
{% load static %}


{% block cssFiles %}
<link rel='stylesheet' href= "{% static "StravaChallengesApp/mainPage.css" %}">
{% endblock %}

{% block content %}


<h1>y5k - 5 kilo a year</h1>
<br>
<section id="intro">
    <h2>O co chodzi z y5k?</h2>
    <p>Y5k, czyli "5 kilo a year" to wyzwanie, aby wyjść z domu pokonać dystans 5000 km rocznie. Po co? Dla zabawy, motywacji i radości ruchu na świeżym powietrzu.</p>
</section>


<h2>Jak dołączyć?</h2>
    <p>Potrzebujesz mieć zainstalowaną aplikację <a href="https://www.strava.com" target="_blank" class="strava-link">Strava</a>. 
    Jeżeli korzystasz z Garmina - to <a href="https://www.youtube.com/watch?v=CbuysWzB4bs" target="_blank" class="yt-link"> TUTAJ</a> 
    jest film jak połączyć Garmin ze Strava. Twoich danych używamy do rankingu (niczego innego). Możesz również  zobaczyć wyniki bez logowania. Decyduj poniżej:</p>
    
<section id='links'>
    <a href="/login">Chcę dołączyć - zaloguj mnie do Strava</a>
    <a href="{% url "y5k_results_page" %}">Chcę zobaczyć wyniki - nie loguj mnie do Strava</a>
</section>
    <br>

<section id="whatCounts">
    <h2>Jakie aktywności się liczą?</h2>
    <p>Chodzi o ruch na świeżym powietrzu – także w miarę wszystko wliczamy: rower, spacer, bieganie, narty, windusrfing, kajaki, pływanie. Od biedy trenażer też ok.</p>
</section>
<section id='email'>
    <a href='mailto:megamicho@wp.pl'> Powinniśmy dodać jakąś aktywność? Napisz do nas </a>
</section>

{% endblock content %}

